table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: black;
  }
  
  th {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
  }
  
  tr:hover {
    background-color: #ebebeb;
    transition: background-color 0.3s ease;
  }

p {
    color: black;
}